<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>ヒアリにヒアリングしよう</h1>
          <hr class="intro-divider">
          <h2>みんなと作るヒアリ撲滅マップ</h2>
        </div>
      </div>
    </div>
  </div>
</div>