<div class="container">
  <div class="intro-header2">
    <h2>当サイトについて</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>もしかしたら、ヒアリが身近にいるかもしれない・・・。</p>
      <p>どこまで広がっているか可視化できたら面白いなと思い作りました</p>
      <p>右上の「ヒアリ情報を提供する」より目撃情報を投稿できます。</p>
      <p>情報提供にご協力いただけますと幸いです。</p>
      <p>みんなでヒアリを日本から退治しましょう！</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h4>ご留意事項</h4>
      <p>当サイトの情報はあくまでご参考程度にご覧ください。</p>
      <p>バグやご要望などございましたら、下記メールアドレスへご連絡ください。</p>
      <p>esumura86@gmail.com</p>
    </div>
  </div>
  <hr>

</div>