<div class="container">
  <div class="intro-header2">
    <h2>ヒアリAI判定</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>下記twitterアカウントに写真を送ると判定してくれます。</p>
      <p><%= link_to "ヒアリBot", "https://twitter.com/fireant_bot" %></p>
    </div>
  </div>

</div>