<div class="container">
  <div class="intro-header2">
    <h2>ヒアリ目撃情報一覧</h2>
    <hr>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>タイトル</th>
      <th>緯度</th>
      <th>経度</th>
    </tr>
    <% @hiaris.each do |hiari| %>
      <tr>
        <td><%= hiari.title %></td>
        <td><%= hiari.latitude %></td>
        <td><%= hiari.longitude %></td>
      </tr>
    <% end %>
  </table>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 600px;'></div>
  </div>
  <div id="map_script">
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>,{zoom: 16});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      google.maps.event.addListener(handler.getMap(), "dragend", function(){
        alert(handler.getMap().getCenter().toString());
        $.ajax({
          type: "POST",
          url: "/hiaris/getMarkers",
          data: {latitude: handler.getMap().getCenter().lat(), longitude: handler.getMap().getCenter().lng()}
        });
      });
    });
  </script>
  </div>
</div>